@font-face {
    font-family: "Trickster";
    font-weight: 700;
    font-display: swap;
    src: local("Trickster"), url("trickster-COLRv1.otf") format("opentype") tech(color-COLRv1), url("trickster-outline.otf") format("opentype"), url("trickster-outline.woff") format("woff"), url("trickster-outline.woff2") format("woff2");
}
